<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <div class="row" style="float: right">
        <div class="col">
            <form th:action="@{/board}" th:method="get">
                <select name="searchKeyword">
                    <option selected value="">검색 내용 선택</option>
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" name="searchValue" class="search-input">
                <button type="submit" class="btn btn-outline-primary mr-2">검색</button>
                <button class="btn btn-primary"
                        onclick="location.href='write.html'"
                        th:onclick="|location.href='@{/board/add}'|"
                        type="button">글쓰기</button>
            </form>
        </div>
    </div>
    <div th:if="${searchK == 'title'}">
        제목 : "<span th:text="${searchV}"></span>" 에 대한 검색결과
    </div>
    <div th:if="${searchK == 'writer'}">
        글쓴이 : "<span th:text="${searchV}"></span>" 에 대한 검색결과
    </div>
    <div style="margin-top: 10px">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}">글 ID</td>
                <td><a href="boards.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.writer}">작성자</td>
                <td th:text="${board.createdDate}">등록일</td>
                <td th:text="${board.hits}">조회수</td>
            </tr>
            </tbody>
        </table>


        <nav aria-label="Page Navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${boards.first})}" aria-label="First">
                        <span aria-hidden="true">처음</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="${boards.first} ? '#' : @{/board(page=${boards.number - 1})}" aria-label="Previous">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>
                <th:block th:each="pageButton:${#numbers.sequence(startPage,endPage)}">
                 <li class="page-item">
                     <a class="page-link" th:if="${pageButton != nowPage}" th:href="@{/board(page=${pageButton - 1}, searchKeyword = ${param.searchKeyword}, searchValue=${param.searchValue})}" th:text="${pageButton}"></a>
                     <strong th:class="page-link" th:if="${pageButton==nowPage}" th:text="${pageButton}" style="color:red"></strong>
                 </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:href="${boards.last} ? '#' : @{/board(page=${boards.number + 1})}" aria-label="Next">
                        <span aria-hidden="true">다음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${boards.totalPages - 1})}" aria-label="Last">
                        <span aria-hidden="true">끝</span>
                    </a>
                </li>
            </ul>


        </nav>
    </div>

</div> <!-- /container -->

</body>
</html>